@font-face {
    font-family: IsaacFont;
    src: url('./fonts/IsaacGame.ttf') format('truetype'); 
}

@font-face {
    font-family: IsaacFont2;
    src: url('./fonts/upheavtt.ttf') format('truetype'); 
}


body {
    /*font-family: 'Space Mono', monospace;*/
    font-family: IsaacFont, Arial, sans-serif;
    color: white;
    background-image: url('./images/background.png'); /* Ruta de la imagen de fondo */
    background-size:cover;
    background-position: center;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    background-color: #333;
    padding: 1em;
    border-radius: 10px;
}

.items h2 {
    color: #f3f3f3
}

.Rebirth, .Afterbirth, .Afterbirthplus, .Repentance {
    display: flex;
    flex-wrap: wrap;
    gap: 103px;
}

button {
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-radius: 10px;
    background-color: #333;
    color: #f3f3f3;
    font-size: large;
    font-family: IsaacFont, Arial, sans-serif;
}

#next, #next-images, #go-back {
    display: none;
}

#next-images, #go-back, #next, #submit {
    margin-bottom: 1em;
}

#quiz, #quiz-images {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    max-width: 300px;
    border-radius: 10px;
   /* background-image: url('./images/postit.png');
    background-size: cover; 
    background-position: center;
    overflow: hidden;*/
}

#quiz-images a {
    cursor: pointer;
    transition: transform 0.3s; 
}

#quiz-images a:hover {
    transform: scale(1.1);
}

#images {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas de altura automática */
    grid-template-columns: auto auto; /* Dos columnas de ancho automático */
    gap: 10px;
}

#quiz h2, #quiz h3, #quiz-images h2, #quiz-images h3 {
    color: #333
}

#quiz-images {
    display: none;
}

h2,
h3 {
    color: #f3f3f3;
    font-family: IsaacFont, Arial, sans-serif;
}

#words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

#word {
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: white;
    color: #333;
    border-radius: 5%;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

input {
    font-family: IsaacFont2, Arial, sans-serif;
    margin-top: 1em;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #333;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;

    :hover {
        border-color: #ccc;
    }

    :focus {
        border-color: #9147ff;
        background: #fff;
    }

}

.tick,
.cross {
    display: none;
}


.tooltip-text {
    font-family: IsaacFont, Arial, sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: #f3f3f3;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Posiciona el tooltip encima del elemento */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.items div {
    position: relative;
    display: inline-block;
}

.items div div:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.item {
    margin: 8px;
}

